<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PRODUCTOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >

<ion-row>
  <ion-col></ion-col>
  <ion-col>NOMBRE<ion-input [(ngModel)]="producto.nombre" id="txtNombre"
    style="border: black solid 2px; font-family: 'Times New Roman', Times, serif; font-size: 20px;background-color:rgba(95, 158, 160, 0.344) ;"></ion-input>
  </ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row>
  <ion-col></ion-col>
  <ion-col>DESCRIPCION<ion-input [(ngModel)]="producto.descripcion" id="txtDescripcion"
    style="border: black solid 2px; font-family: 'Times New Roman', Times, serif; font-size: 20px; background-color:rgba(95, 158, 160, 0.344) ;"></ion-input>
  </ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row>
  <ion-col></ion-col>
  <ion-col>PRECIO<ion-input [(ngModel)]="producto.precio" id="txtPrecio"
    style="border: black solid 2px; font-family: 'Times New Roman', Times, serif; font-size: 20px;background-color:rgba(95, 158, 160, 0.344) ;"></ion-input>
  </ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row>
  <ion-col></ion-col>
  <ion-col>STOCK<ion-input [(ngModel)]="producto.stock" id="txtStock"
    style="border: black solid 2px; font-family: 'Times New Roman', Times, serif; font-size: 20px;background-color:rgba(95, 158, 160, 0.344) ;"></ion-input>
  </ion-col>
  <ion-col></ion-col>
</ion-row>
<ion-row>
  <ion-col></ion-col>
  <ion-col>
    <ion-button (click)="agregarProducto();">GUARDAR</ion-button>
  </ion-col>
  <ion-col></ion-col>
</ion-row>


  <ion-list>
    <ion-list-header>
      Productos
    </ion-list-header>
    <ion-item *ngFor="let producto of listaProductos" >
      <ion-avatar slot="start">
        <img
          src="https://i.ibb.co/zNtJjn4/133482.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Nombre: {{producto.nombre}}</h3>
        <h3>Descripcion: {{producto.descripcion}}</h3>
        <h3>Precio: {{producto.precio}}</h3>
        <h3>Stock: {{producto.stock}}</h3>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
