<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">VELOCIMETRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

  <ion-row>
    <ion-col></ion-col>
    <ion-col style="background-color: aquamarine; border: black solid 2px; ">
      <ion-label>Velocidad en X: {{x}}</ion-label>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col></ion-col>
    <ion-col style="background-color: aquamarine;border: black solid 2px;">
      <ion-label>Velocidad en y: {{y}}</ion-label>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col></ion-col>
    <ion-col style="background-color: aquamarine;border: black solid 2px;">
      <ion-label >Velocidad en Z: {{z}}</ion-label>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <br>
  <ion-row>
    <ion-col></ion-col>
    <ion-col style="text-align: center;">
      <ion-button color="primary" (click)="datosvelocidad()" >Velocidad</ion-button>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
</ion-content>
